<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="navbar-brand__title">Landscapes</h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Landscapes', root_path, class: 'navbar-item' %>
        <%= link_to 'Nuevo Landscape', new_landscape_path, class: 'navbar-item' %>
        <%= link_to 'Perfil', pages_profile_path, class: 'navbar-item' %>
        <%= link_to 'User Form', pages_user_form_path, class: 'navbar-item' %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
            <%= link_to '<strong>Cerrar Sesión</strong>'.html_safe, destroy_user_session_path, class: 'button is-primary', method: :delete %>
            <% else %>
            <%= link_to 'Log in', new_user_session_path, class: 'button is-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>