<%= render 'layouts/shared/header', image: current_user.cover.attached? ? url_for(current_user.cover) : '' do %>
	<div class="profile">
		<div class="profile__container">
			<%= image_tag current_user.profile.attached? ? current_user.profile : 'profiles/avatar.png', class: 'profile__image' %>
		</div>

		<h3 class="profile__name"><%= current_user.full_name %></h3>
		<h4 class="profile__member-since">Miembro desde <%= current_user.created_at.year %></h4>
	</div>
<% end %>

<div class="container">
	<ul class="social">
		<li class="social__element">
			<div class="social__number">8526</div>
			<div class="social__text">Followers</div>
		</li>
		<li class="social__element">
			<div class="social__number">51,3K</div>
			<div class="social__text">Likes</div>
		</li>
		<li class="social__element">
			<div class="social__number">106</div>
			<div class="social__text">Following</div>
		</li>
	</ul>

	<ul class="landscapes">
		<% if @landscapes.any? %>
			<% @landscapes.each do |landscape| %>
				<li class="landscape__item">
					<a href="#" class="landscape__link">
						<%= image_tag landscape.image.variant(combine_options: { gravity: 'Center', crop: '400x400+0+0' }), class: 'landscape__image', data: { lightbox: 'landscapes'} %>
					</a>
				</li>
			<% end %>
		<% else %>
			<p>Aún no tienes Landscapes, sube uno <%= link_to 'ahora ya!', new_landscape_path %></p>
		<% end %>
	</ul>
</div>