<%= form_with(model: landscape, local: true) do |form| %>
  <% if landscape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landscape.errors.count, "error") %> prohibited this landscape from being saved:</h2>

      <ul>
      <% landscape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
