<p id="notice"><%= notice %></p>

<h1>Landscapes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landscapes.each do |landscape| %>
      <tr>
        <td><%= landscape.user %></td>
        <td><%= link_to 'Show', landscape %></td>
        <td><%= link_to 'Edit', edit_landscape_path(landscape) %></td>
        <td><%= link_to 'Destroy', landscape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landscape', new_landscape_path %>
