<ul class="cards">
  <li class="card">
    <div class="card__highlight">
      <picture>
        <%= image_tag 'squared/17-day.jpg', class: 'card__img' %>
      </picture>
    </div>
    <div class="card__content">
      <a class="card__profile-container" href="#">
        <%= image_tag 'profiles/she.jpg', class: 'card__profile' %>
      </a>
      <a class="card__like card__like--red" href="#">
        <i class="fas fa-heart"></i>
      </a>
      <div class="card__title">
        <h2 class="card__title-text">Golden Gate Bridge, CA</h2>
      </div>
      <div class="card__author">
        <h3 class="card__author-name">
          <a class="card__author-follow" href="#">Follow</a>
          Margot Robbie
        </h3>
      </div>

      <div class="card__hidden">
        <div class="card__data">
          <ul class="social">
            <li class="social__element">
              <div class="social__number">8526</div>
              <div class="social__text">Followers</div>
            </li>
            <li class="social__element">
              <div class="social__number">51,3K</div>
              <div class="social__text">Likes</div>
            </li>
            <li class="social__element">
              <div class="social__number">106</div>
              <div class="social__text">Following</div>
            </li>
          </ul>

          <ul class="comment__list">
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/he.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">ryanreynolds</span>
                  Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 25 mins</span>
                  <a class="comment__like comment__like-liked" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/mj.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">michaeljackson</span>
                  Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 15 mins</span>
                  <a class="comment__like" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
          </ul>

          <form class="add_comment" action="#">
            <picture class="add_comment__profile-container">
              <%= image_tag 'profiles/she.jpg', class: 'add_comment__profile' %>
            </picture>
            <div class="add_comment__content">
              <textarea name="comment[]" class="add_comment__text"></textarea>
              <button type="submit" class="add_comment__submit">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>

  <li class="card">
    <div class="card__highlight">
      <%= image_tag 'squared/05.jpg', class: 'card__img' %>
    </div>
    <div class="card__content">
      <a class="card__profile-container" href="#">
        <%= image_tag 'profiles/mr.jpg', class: 'card__profile' %>
      </a>
      <div class="card__title">
        <h2 class="card__title-text">Laguna de Aculeo, Paine</h2>
      </div>
      <div class="card__author">
        <h3 class="card__author-name">
          <a class="card__author-following" href="#">Following</a>
          Barack Obama
        </h3>
      </div>
      <a class="card__like" href="#">
        <i class="fas fa-heart"></i>
      </a>

      <div class="card__hidden">
        <div class="card__data">
          <ul class="social">
            <li class="social__element">
              <div class="social__number">10,4K</div>
              <div class="social__text">Followers</div>
            </li>
            <li class="social__element">
              <div class="social__number">1524</div>
              <div class="social__text">Likes</div>
            </li>
            <li class="social__element">
              <div class="social__number">215</div>
              <div class="social__text">Following</div>
            </li>
          </ul>
          
          <ul class="comment__list">
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/fl.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">donfloro</span>
                  Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 30 mins</span>
                  <a class="comment__like" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/she.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">margotrobbie</span>
                  Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 22 mins</span>
                  <a class="comment__like" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
          </ul>

          <form class="add_comment" action="#">
            <picture class="add_comment__profile-container">
              <%= image_tag 'profiles/mr.jpg', class: 'add_comment__profile' %>
            </picture>
            <div class="add_comment__content">
              <textarea name="comment[]" class="add_comment__text"></textarea>
              <button type="submit" class="add_comment__submit">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>

  <li class="card">
    <div class="card__highlight">
      <%= image_tag 'squared/03.jpg', class: 'card__img' %>
    </div>
    <div class="card__content">
      <a class="card__profile-container" href="#">
        <%= image_tag 'profiles/he.jpg', class: 'card__profile' %>
      </a>
      <div class="card__title">
        <h2 class="card__title-text">New York, NY</h2>
      </div>
      <div class="card__author">
        <h3 class="card__author-name">Ryan Reynolds</h3>
      </div>
      <a class="card__like" href="#">
        <i class="fas fa-heart"></i>
      </a>

      <div class="card__hidden">
        <div class="card__data">
          <ul class="social">
            <li class="social__element">
              <div class="social__number">1258</div>
              <div class="social__text">Followers</div>
            </li>
            <li class="social__element">
              <div class="social__number">21,4K</div>
              <div class="social__text">Likes</div>
            </li>
            <li class="social__element">
              <div class="social__number">183</div>
              <div class="social__text">Following</div>
            </li>
          </ul>
          
          <ul class="comment__list">
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/mr.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">barackobama</span>
                  Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 30 mins</span>
                  <a class="comment__like" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
            <li class="comment__item">
              <picture class="comment__item-profile">
                <%= image_tag 'profiles/she.jpg', class: 'comment__profile' %>
              </picture>
              <div class="comment__item-content">
                <p class="comment__text">
                  <span class="comment__username">margotrobbie</span>
                  Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.
                </p>
                <p class="comment__info">
                  <span class="comment__time">hace 22 mins</span>
                  <a class="comment__like comment__like-liked" href="#"><i class="fas fa-heart"></i></a>
                  <a class="comment__reply" href="#">reply</a>
                </p>
              </div>
            </li>
          </ul>

          <form class="add_comment" action="#">
            <picture class="add_comment__profile-container">
              <%= image_tag 'profiles/he.jpg', class: 'add_comment__profile' %>
            </picture>
            <div class="add_comment__content">
              <textarea name="comment[]" class="add_comment__text"></textarea>
              <button type="submit" class="add_comment__submit">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>
</ul>
