<%= render 'layouts/shared/header', image: current_user.present? && current_user ? url_for(current_user.cover) : '' do %>
<% end %>

<div class="container">
  <ul class="cards">

    <% @landscapes.each do |landscape| %>
    <li class="card">
      <div class="card__highlight">
        <picture>
          <%= image_tag landscape.image, class: 'card__img' %>
        </picture>
      </div>
      <div class="card__content">
        <a class="card__profile-container" href="<%= user_path(landscape.user) %>">
          <%= image_tag landscape.user.profile.variant(resize: "240x240").processed, class: 'card__profile' %>
        </a>
        <a class="card__like" href="#">
          <i class="fas fa-heart"></i>
        </a>
        <div class="card__title">
          <h2 class="card__title-text"><%= landscape.title %></h2>
        </div>
        <div class="card__author">
          <h3 class="card__author-name">
            <a class="card__author-follow" href="#">Follow</a>
            <%= landscape.user.full_name %>
          </h3>
        </div>

        <div class="card__hidden">

          <div class="card__description">
            <p class="card__description-text"><%= landscape.description %></p>
          </div>
          <div class="card__data">
            <ul class="social">
              <li class="social__element">
                <div class="social__number">8526</div>
                <div class="social__text">Followers</div>
              </li>
              <li class="social__element">
                <div class="social__number">51,3K</div>
                <div class="social__text">Likes</div>
              </li>
              <li class="social__element">
                <div class="social__number">106</div>
                <div class="social__text">Following</div>
              </li>
            </ul>

            <ul class="comment__list">
              <% landscape.comments.each do |comment| %>
              <li class="comment__item">
                <picture class="comment__item-profile">
                  <%= image_tag comment.user.profile.variant(resize: "100x100").processed, class: 'comment__profile' %>
                </picture>
                <div class="comment__item-content">
                  <p class="comment__text">
                    <span class="comment__username"><%= comment.user.nickname %></span>
                    <%= comment.text %>
                  </p>
                  <p class="comment__info">
                    <span class="comment__time"><%= time_ago_in_words(comment.created_at) %></span>
                    <a class="comment__like" href="#"><i class="fas fa-heart"></i></a>
                    <a class="comment__reply" href="#">reply</a>
                  </p>
                </div>
              </li>
              <% end %>
            </ul>

            <form class="add_comment" action="#">
              <picture class="add_comment__profile-container">
                <%= image_tag current_user.profile.variant(resize: "100x100").processed, class: 'add_comment__profile' %>
              </picture>
              <div class="add_comment__content">
                <textarea name="comment[]" class="add_comment__text"></textarea>
                <button type="submit" class="add_comment__submit">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
    <% end %>

  </ul>
</div>