<%= render 'layouts/shared/header', image: '' do %>
	<div class="profile">
		<div class="profile__container">
			<%= image_tag 'profiles/she.jpg', class: 'profile__image' %>
		</div>

		<h3 class="profile__name">Margot Robbie</h3>
		<h4 class="profile__member-since">Miembro desde: 30 de Julio, 2020</h4>
	</div>
<% end %>

<div class="container">
	<div class="profile__follow">
		<a href="#" class="profile__follow-link">Seguir</a>
	</div>

	<ul class="social">
		<li class="social__element">
			<div class="social__number">8526</div>
			<div class="social__text">Followers</div>
		</li>
		<li class="social__element">
			<div class="social__number">51,3K</div>
			<div class="social__text">Likes</div>
		</li>
		<li class="social__element">
			<div class="social__number">106</div>
			<div class="social__text">Following</div>
		</li>
	</ul>

	<ul class="landscapes">
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/01.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/02.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/03.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/04.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/05.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/06.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/07.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/08.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/09.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/10.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/11.jpg', class: 'landscape__image' %>
			</a>
		</li>
		<li class="landscape__item">
			<a href="#" class="landscape__link">
				<%= image_tag 'squared/12.jpg', class: 'landscape__image' %>
			</a>
		</li>
	</ul>
</div>